@import url(../src/vendor/normalize.css);

body {
  margin-left: 30px;
  margin-right: 30px;
  font-family: "Inter", system-ui, -apple-system, Roboto, Ubuntu, Helvetica,
    Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}
/* 
main {
  display: flex;
  flex-direction: column;
} */
