.nav {
  margin-top: 100px;
  margin-bottom: 100px;
}
.nav__wrapper {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 90px;
  justify-content: center;
}
.nav__wrapper-item {
  letter-spacing: 1px;
}

.nav__wrapper-item:hover {
  opacity: 0.5;
  cursor: pointer;
}
